.button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    margin-left: 50px;
    margin-top: 30px;
}

    .button:hover {
        background-color: #039f5a;
        transform: scale(1.05);
    }